nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

article{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: stretch;
    flex-direction: row;
    
    
}

div {
    flex: 0 1 auto;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}